<web-app>

<servlet>
<servlet-name>LogIn</servlet-name>
<servlet-class>LogIn</servlet-class>
</servlet><servlet-mapping>
<servlet-name>LogIn</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SignUp</servlet-name>
<servlet-class>SignUp</servlet-class>
</servlet><servlet-mapping>
<servlet-name>SignUp</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AS</servlet-name>
<servlet-class>AS</servlet-class>
</servlet><servlet-mapping>
<servlet-name>AS</servlet-name>
<url-pattern>/as</url-pattern>
</servlet-mapping>

</web-app>